####Count rows in each column where NULLs present|

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
data = [
    (1, "Arabinda", 23),
    (2, "Shyam", None),
    (3, "Raghu", 56),
    (4, None, 32),
    (5, None, None),
    (6, "John", None)
]

data_schema=['ID','Name','Age']

df=spark.createDataFrame(data,data_schema)

#Approach-1
df1=df.select([(df.count()-count(i)).alias(i) for i in df.columns])

In [0]:
df.show()

+---+--------+----+
| ID|    Name| Age|
+---+--------+----+
|  1|Arabinda|  23|
|  2|   Shyam|null|
|  3|   Raghu|  56|
|  4|    null|  32|
|  5|    null|null|
|  6|    John|null|
+---+--------+----+

In [0]:
#Approach-2


# Count null values for each column
null_counts = [count(col(c)).alias(c) for c in df.columns]


# Calculate the difference between total count and null count for each column
df_null_counts = df.select([(df.count() - null_counts[i]).alias(df.columns[i]) for i in range(len(df.columns))])

# Show the resulting DataFrame
df_null_counts.show()

+---+----+---+
| ID|Name|Age|
+---+----+---+
|  0|   2|  3|
+---+----+---+

In [0]:
#Appraoch-3
df_null_=df.select ([count(when(col(i).isNull(), i)).alias(i) for i in df.columns])
df_null_.show()

+---+----+---+
| ID|Name|Age|
+---+----+---+
|  0|   2|  3|
+---+----+---+