In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
#Create dataframe:
#Sample data frame 
#======================================================
data1=[(1,"Steve"),(2,"David"),(3,"John"),(4,"Shree"),(5,"Helen")]
data2=[(1,"SQL",90),(1,"PySpark",100),(2,"SQL",70),(2,"PySpark",60),(3,"SQL",30),(3,"PySpark",20),(4,"SQL",50),(4,"PySpark",50),(5,"SQL",45),(5,"PySpark",45)]

schema1=["Id","Name"]
schema2=["Id","Subject","Mark"]

df1=spark.createDataFrame(data1,schema1)
df2=spark.createDataFrame(data2,schema2)
display(df1)
display(df2)

Id,Name
1,Steve
2,David
3,John
4,Shree
5,Helen

Id,Subject,Mark
1,SQL,90
1,PySpark,100
2,SQL,70
2,PySpark,60
3,SQL,30
3,PySpark,20
4,SQL,50
4,PySpark,50
5,SQL,45
5,PySpark,45

In [0]:
#Joining on ID 
df=df1.join(df2,df1.Id==df2.Id).drop(df2.Id)
#Group by and Agg
df=df.groupBy('Id','Name').agg((sum('Mark')/count('*')).alias("Percentage"))

In [0]:
#Now Check the df
df.show()

+---+-----+----------+
| Id| Name|Percentage|
+---+-----+----------+
|  1|Steve|      95.0|
|  2|David|      65.0|
|  3| John|      25.0|
|  4|Shree|      50.0|
|  5|Helen|      45.0|
+---+-----+----------+

In [0]:
#Case when statement
df=df.withColumn("Results",when(df.Percentage>70.0,'Distinction')\
              .when((df.Percentage<70.0) &(df.Percentage>=60),'First Class')\
              .when((df.Percentage<60.0) &(df.Percentage>=50),'Second Class')\
              .when((df.Percentage<50.0) &(df.Percentage>=40),'Third Class')\
              .when(df.Percentage<40.0,'Second Class')\
              )
df.show(truncate=False)

+---+-----+----------+------------+
| Id| Name|Percentage|     Results|
+---+-----+----------+------------+
|  1|Steve|      95.0| Distinction|
|  2|David|      65.0| First Class|
|  3| John|      25.0|Second Class|
|  4|Shree|      50.0|Second Class|
|  5|Helen|      45.0| Third Class|
+---+-----+----------+------------+