find uncommon values between two tables (DataFrames) in PySpark, you can use the subtract method. This method returns the rows that are present in one DataFrame but not in the other. Hereâ€™s how you can do it:

find values that are not common between two DataFrames (df1 and df2) in PySpark, you can use a combination of subtract and union operations. This will give you the rows that are unique to each DataFrame.

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Initialize Spark session
spark = SparkSession.builder.appName("UncommonValues").getOrCreate()

# Sample DataFrames
data1 = [(1, "Alice"), (2, "Bob"), (3, "Charlie")]
data2 = [(1, "Alice"), (3, "Charlie"), (4, "David")]

columns = ["id", "name"]

df1 = spark.createDataFrame(data1, columns)
df2 = spark.createDataFrame(data2, columns)

# Find uncommon values in df1 that are not in df2
uncommon_in_df1 = df1.subtract(df2)

# Find uncommon values in df2 that are not in df1
uncommon_in_df2 = df2.subtract(df1)

# Union the results to get all uncommon values
uncommon_values = uncommon_in_df1.union(uncommon_in_df2)
uncommon_values.show()

+---+-----+
| id| name|
+---+-----+
|  2|  Bob|
|  4|David|
+---+-----+

In [0]:

#Without using substract function

df2=df2.withColumnRenamed("id","id2")
df2=df2.withColumnRenamed("name","name2")
df_fulljoin=df1.join(df2,df1.id==df2.id2,how="full")
ans_df=df_fulljoin.filter(col("id").isNull() | col("id2").isNull()).select("id","id2","name","name2")
ans_df=ans_df.withColumn("not_common_id",coalesce("id","id2")) \
    .withColumn("Actua_Name",coalesce("name","name2")) \
        .select("not_common_id","Actua_Name")
ans_df.show()

+-------------+----------+
|not_common_id|Actua_Name|
+-------------+----------+
|            2|       Bob|
|            4|     David|
+-------------+----------+

In [0]:
display(df1)
display(df2)

id,name
1,Alice
2,Bob
3,Charlie

id,name
1,Alice
3,Charlie
4,David